.company {
    background-color: rgba(5, 51, 100, 0.114);
    margin-bottom: 25px;
    padding: 1rem;
}

.companyDetails {
    display: flex;
    background-color :rgba(255, 255, 255, 0.234);
    /* height: 250px; */
    border: 2px solid rgba(190, 190, 190, 0.534);
    border-radius: 30px;
    width: 70%;         
    margin: auto;
    padding: 25px 0;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.company__image {
  width: 250px;
  height: 250px;
  margin-inline-end: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company__image img {
  width: 85%;
  object-fit: cover;
}

.company__details {
    display: flex;
    flex-direction: column;
    /* align-items:center ; */
    justify-content: center;
}

.company__buttons {
    margin-top: 20px;
}

.company__image {
  width: 250px;
  height: 250px;
  margin-inline-end: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company__image img {
  width: 85%;
  object-fit: cover;
}

.company__details {
    display: flex;
    flex-direction: column;
    /* align-items:center ; */
    justify-content: center;
}

.company__buttons {
    margin-top: 20px;
}

.company__buttons .button {
  background-color: #d9dee4;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #114483;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: none;

}